## Global Historical Climatology Network Dataset
Variables are stored in both rows and columns
This dataset represents the daily weather records for a weather station (MX17004) in Mexico for five months in 2010.

In [19]:
import pandas as pd
import numpy as np

In [6]:
df = pd.read_csv('weather-raw.csv')

In [22]:
df.fillna('missing')

,id,year,month,element,d1,d2,d3,d4,d5,d6,...,d22,d23,d24,d25,d26,d27,d28,d29,d30,d31
0,MX17004,2010,1,tmax,missing,missing,missing,missing,missing,missing,...,missing,missing,missing,missing,missing,missing,missing,missing,27.8,missing
1,MX17004,2010,1,tmin,missing,missing,missing,missing,missing,missing,...,missing,missing,missing,missing,missing,missing,missing,missing,14.5,missing
2,MX17004,2010,2,tmax,missing,27.3,24.1,missing,missing,missing,...,missing,29.9,missing,missing,missing,missing,missing,missing,missing,missing
3,MX17004,2010,2,tmin,missing,14.4,14.4,missing,missing,missing,...,missing,10.7,missing,missing,missing,missing,missing,missing,missing,missing
4,MX17004,2010,3,tmax,missing,missing,missing,missing,32.1,missing,...,missing,missing,missing,missing,missing,missing,missing,missing,missing,missing
5,MX17004,2010,3,tmin,missing,missing,missing,missing,14.2,missing,...,missing,missing,missing,missing,missing,missing,missing,missing,missing,missing
6,MX17004,2010,4,tmax,missing,missing,missing,missing,missing,missing,...,missing,missing,missing,missing,missing,36.3,missing,missing,missing,missing
7,MX17004,2010,4,tmin,missing,missing,missing,missing,missing,missing,...,missing,missing,missing,missing,missing,16.7,missing,missing,missing,missing
8,MX17004,2010,5,tmax,missing,missing,missing,missing,missing,missing,...,missing,missing,missing,missing,missing,33.2,missing,missing,missing,missing
9,MX17004,2010,5,tmin,missing,missing,missing,missing,missing,missing,...,missing,missing,missing,missing,missing,18.2,missing,missing,missing,missing
10,MX17004,2010,6,tmax,missing,missing,missing,missing,missing,missing,...,missing,missing,missing,missing,missing,missing,missing,30.1,missing,missing
11,MX17004,2010,6,tmin,missing,missing,missing,missing,missing,missing,...,missing,missing,missing,missing,missing,missing,missing,18.0,missing,missing
12,MX17004,2010,7,tmax,missing,missing,28.6,missing,missing,missing,...,missing,missing,missing,missing,missing,missing,missing,missing,missing,missing
13,MX17004,2010,7,tmin,missing,missing,17.5,missing,missing,missing,...,missing,missing,missing,missing,missing,missing,missing,missing,missing,missing
14,MX17004,2010,8,tmax,missing,missing,missing,missing,29.6,missing,...,missing,26.4,missing,29.7,missing,missing,missing,28.0,missing,25.4
15,MX17004,2010,8,tmin,missing,missing,missing,missing,15.8,missing,...,missing,15.0,missing,15.6,missing,missing,missing,15.3,missing,15.4
16,MX17004,2010,10,tmax,missing,missing,missing,missing,27.0,missing,...,missing,missing,missing,missing,missing,missing,31.2,missing,missing,missing
17,MX17004,2010,10,tmin,missing,missing,missing,missing,14.0,missing,...,missing,missing,missing,missing,missing,missing,15.0,missing,missing,missing
18,MX17004,2010,11,tmax,missing,31.3,missing,27.2,26.3,missing,...,missing,missing,missing,missing,28.1,27.7,missing,missing,missing,missing
19,MX17004,2010,11,tmin,missing,16.3,missing,12.0,7.9,missing,...,missing,missing,missing,missing,12.1,14.2,missing,missing,missing,missing
20,MX17004,2010,12,tmax,29.9,missing,missing,missing,missing,27.8,...,missing,missing,missing,missing,missing,missing,missing,missing,missing,missing
21,MX17004,2010,12,tmin,13.8,missing,missing,missing,missing,10.5,...,missing,missing,missing,missing,missing,missing,missing,missing,missing,missing

In [10]:
df.columns

Index(['id', 'year', 'month', 'element', 'd1', 'd2', 'd3', 'd4', 'd5', 'd6',
       'd7', 'd8', 'd9', 'd10', 'd11', 'd12', 'd13', 'd14', 'd15', 'd16',
       'd17', 'd18', 'd19', 'd20', 'd21', 'd22', 'd23', 'd24', 'd25', 'd26',
       'd27', 'd28', 'd29', 'd30', 'd31'],
      dtype='object')

In [23]:
table=pd.pivot_table(df,columns=['element'],values=['d1', 'd2', 'd3', 'd4', 'd5', 'd6',
       'd7', 'd8', 'd9', 'd10', 'd11', 'd12', 'd13', 'd14', 'd15', 'd16',
       'd17', 'd18', 'd19', 'd20', 'd21', 'd22', 'd23', 'd24', 'd25', 'd26',
       'd27', 'd28', 'd29', 'd30', 'd31'])
table

element   tmax       tmin
d1       29.90  13.800000
d10      34.50  16.800000
d11      29.70  13.400000
d12        NaN        NaN
d13      29.80  16.500000
d14      29.70  14.750000
d15      28.70  10.500000
d16      31.10  17.600000
d17      28.00  17.500000
d18        NaN        NaN
d19        NaN        NaN
d2       29.30  15.350000
d20        NaN        NaN
d21        NaN        NaN
d22        NaN        NaN
d23      28.15  12.850000
d24        NaN        NaN
d25      29.70  15.600000
d26      28.10  12.100000
d27      32.40  16.366667
d28      31.20  15.000000
d29      29.05  16.650000
d3       26.35  15.950000
d30      27.80  14.500000
d31      25.40  15.400000
d4       27.20  12.000000
d5       28.75  12.975000
d6       27.80  10.500000
d7       28.10  12.900000
d8       29.00  17.300000
d9         NaN        NaN

In [8]:
df.shape

(22, 35)

In [9]:
df.describe()

,year,month,d1,d2,d3,d4,d5,d6,d7,d8,...,d22,d23,d24,d25,d26,d27,d28,d29,d30,d31
count,22.0,22.000000,2.000000,4.000000,4.000000,2.000000,8.000000,2.000000,2.000000,2.000000,...,0.0,4.000000,0.0,2.000000,2.000000,6.000000,2.00000,4.000000,2.00000,2.000000
mean,2010.0,6.272727,21.850000,22.325000,21.150000,19.600000,20.862500,19.150000,20.500000,23.150000,...,NaN,20.500000,NaN,22.650000,20.100000,24.383333,23.10000,22.850000,21.15000,20.400000
std,0.0,3.601347,11.384419,8.254443,6.405466,10.748023,8.904243,12.232947,10.748023,8.273149,...,NaN,9.118845,NaN,9.970206,11.313708,9.292022,11.45513,7.294062,9.40452,7.071068
min,2010.0,1.000000,13.800000,14.400000,14.400000,12.000000,7.900000,10.500000,12.900000,17.300000,...,NaN,10.700000,NaN,15.600000,12.100000,14.200000,15.00000,15.300000,14.50000,15.400000
25%,2010.0,3.250000,17.825000,15.825000,16.725000,15.800000,14.150000,14.825000,16.700000,20.225000,...,NaN,13.925000,NaN,19.125000,16.100000,17.075000,19.05000,17.325000,17.82500,17.900000
50%,2010.0,6.000000,21.850000,21.800000,20.800000,19.600000,21.050000,19.150000,20.500000,23.150000,...,NaN,20.700000,NaN,22.650000,20.100000,22.950000,23.10000,23.000000,21.15000,20.400000
75%,2010.0,9.500000,25.875000,28.300000,25.225000,23.400000,27.650000,23.475000,24.300000,26.075000,...,NaN,27.275000,NaN,26.175000,24.100000,31.825000,27.15000,28.525000,24.47500,22.900000
max,2010.0,12.000000,29.900000,31.300000,28.600000,27.200000,32.100000,27.800000,28.100000,29.000000,...,NaN,29.900000,NaN,29.700000,28.100000,36.300000,31.20000,30.100000,27.80000,25.400000